In [1]:
import pandas as pd

In [2]:
pd.read_csv("HP flipcart product scrapping")

,Name,Stars,Reviews,Comments
0,Vaibhav Bharati,4,Read carefully.. My Experience was complicated...,Very Good
1,MD MATHIN ALI,5,#Price up to markIts wonderful product for tho...,Terrific
2,Sayani Banerjee,5,Nice laptop and Ryzen 3 is a good processor fo...,Worth every penny
3,Satyajit Swain,3,This laptop needs to be upgraded to at least 8...,Fair
4,Vijay Singh Shekhawat,3,"HP Product is Good/Ok, but personally i will p...",Fair
5,Anoop Mathew,5,Awesome and nice for students and all. The fav...,Just wow!
6,Vivek Raturi,3,Do not expect much :1)Very slow takes a lot of...,Good
7,Anand Amirtharaj,4,"Compare to i3, ryzen 3 is far better in perfor...",Wonderful
8,Flipkart Customer,4,Very nice product finishing is very good.READ ...,Very Good
9,Shivani Pankaj,4,This laptop is very light weight and I am happ...,Nice product